@import './variables.scss';
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    min-width: 1112px;
}
.container{
    max-width: 1112px;
    margin: 0 auto;
    // border: 1px solid red;
    height: 100%;
}